<!-- templates/search_results.html -->
{%  extends 'main.html' %}

{% block content %}


<style>
body {font-family: "Lato", sans-serif;}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: #f44336;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 22%;
}

a.button1 {background-color: #4CAF50;}
a.button2 {background-color: #008CBA;} /* Blue */
a.button3 {background-color: #e7e7e7; color: black;} /* Gray */
#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}
</style>

<!-- <h1>Search Results</h1> -->


<br>
<div class="row text-center justify-content-md-center">
	<div class="col-md-4">
    <br>
		<h1><b>Top 5 Best and Worst Teams Along {{offense}} {{defense}} Attributes</b></h1>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
          <td><b>Team</b></td>
					<td><b>Season</b></td>
				</tr>

				{% for players in object_list %}
					<tr>
            <td>{{players.team_name}}</td>
            <td>{{players.season_id}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

<!-- <a href="{% url 'home' %}" class="button">Back</a> -->

{% endblock %}
